<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" Manufacturer="$(var.Manufacturer)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." AllowSameVersionUpgrades="yes"/>
    
    <Media Id="1" Cabinet="content.cab" EmbedCab="yes" />

    <Icon Id='Icon.ico' SourceFile='..\Core\TBox\Resources\Icon.ico' />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <WixVariable Id="WixUILicenseRtf" Value="..\bin\Release\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\dlgbmp.bmp" />
    <UIRef Id="CustomInstallDir" />

    <Property Id='ApplicationFolderName' Value='$(var.ProductName)' />
    <Property Id="ARPHELPLINK" Value="$(var.WebSite)" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ico" />
    <Property Id="INSTALLSTARTSHORTCUT" Value="1"/>
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1"/>
    <Property Id="LAUNCHAPPONEXIT" Value="1"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="ProgramMenuFolder"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="StartupFolder" Name="StartUp"/>
    </Directory>
    
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="Automater" />
      <ComponentRef Id="AutomaterMsc" />
      <ComponentRef Id="LocalizationTool" />
      <ComponentRef Id="ProjectMan" />
      <ComponentRef Id="Templates" />
      <ComponentRef Id="TemplatesSample" />
      <ComponentRef Id="Libraries" />
      <ComponentRef Id="Plugins" />
      <ComponentRef Id="Binaries" />
      <ComponentRef Id="Themes" />
      <ComponentRef Id="Tools" />
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
      <ComponentRef Id="ApplicationShortcutStartup"/>
    </Feature>

    <CustomAction Id="LaunchApplication" ExeCommand="[INSTALLLOCATION]TBox.exe" Execute="immediate" Impersonate="yes" Return="asyncNoWait" Directory="INSTALLLOCATION"/>
    <UI>
      <Publish Dialog="CustomExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchApplication">LAUNCHAPPONEXIT</Publish>
    </UI>

  </Product>
  
</Wix>