<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FeedbackPort" value="1234" />
    <add key="smtpServer" value="smtp.yandex.ru" />
    <add key="smtpServerPort" value="25" />
    <add key="Login" value="tbox@yandex.ru" />
    <add key="Password" value="password" />
    <add key="ToAddress" value="tbox@yandex.ru" />
  </appSettings>
</configuration>