<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\TBox\Core\Empty\packages.config" />
  <repository path="..\TBox\Core\PluginsShared\packages.config" />
  <repository path="..\TBox\Core\TBox\packages.config" />
  <repository path="..\TBox\Plugins\NUnitRunner\packages.config" />
  <repository path="..\TBox\Plugins\Searcher\packages.config" />
  <repository path="..\TBox\Plugins\SkyNet\packages.config" />
  <repository path="..\TBox\Plugins\TeamManager\packages.config" />
  <repository path="..\TBox\TBox.Tests\packages.config" />
  <repository path="..\TBox\Tools\SkyNet.Agent\packages.config" />
  <repository path="..\TBox\Tools\SkyNet.Common\packages.config" />
  <repository path="..\TBox\Tools\SkyNet.Server\packages.config" />
</repositories>