<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Library\Common\packages.config" />
  <repository path="..\Library\Library.Tests\packages.config" />
  <repository path="..\Library\ParallelNunit\packages.config" />
  <repository path="..\Library\WPFControls\packages.config" />
  <repository path="..\TBox\Core\Empty\packages.config" />
  <repository path="..\TBox\Core\PluginsShared\packages.config" />
  <repository path="..\TBox\Core\TBox\packages.config" />
  <repository path="..\TBox\Plugins\LocalizationTool\packages.config" />
  <repository path="..\TBox\Plugins\RequestsWatcher\packages.config" />
  <repository path="..\TBox\Plugins\Searcher\packages.config" />
  <repository path="..\TBox\Plugins\SkyNet\packages.config" />
  <repository path="..\TBox\Plugins\TeamManager\packages.config" />
  <repository path="..\TBox\TBox.Tests\packages.config" />
  <repository path="..\TBox\Tools\NUnitAgent\packages.config" />
  <repository path="..\TBox\Tools\SkyNet.Common\packages.config" />
</repositories>