<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.7" targetFramework="net40" />
  <package id="LightInject" version="3.0.2.7" targetFramework="net4" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net4" />
  <package id="RibbonControlsLibrary" version="4.0.0" targetFramework="net4" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net4" />
  <package id="WpfAnimatedGif" version="1.4.13" targetFramework="net4" />
  <package id="ZetaLongPaths" version="1.0.0.9" targetFramework="net40" />
</packages>